.container {
    text-align: center;
}


.coach-section {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}


.action-card {
    margin: 10px;
}

@media (max-width: 568px) {
    .coach-section {
        display: flex;
        flex-direction: column;
    }
    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}